{% extends "bds/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="row">
    <div class="col-xs-12">
        {% include "common/alerts.html" %}
        {% include "common/home.html" %}
        
        <div class="page-header text-center">
            <h2>{% trans "Welcome to the DEMOS e-voting system" %}</h2>
        </div>
        
        <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 text-center">
            <img src="{% static 'common/images/logos/LOGO_FINAL_1.png' %}" style="width:70%;height:auto;">
        </div>
        <div class="col-xs-12 col-md-7 text-center">
            <img src="{% static 'common/images/logos/psifiakisiglisi.png' %}" style="width:85%;height:auto;">
        </div>
    </div>
</div>

{% endblock main %}
