{% extends "ea/base.html" %}

{% load i18n %}
{% load ea.custom %}
{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href="{% static 'ea/center.css' %}">

{% endblock css %}


{% block main %}

<div class="row">
    <div class="col-xs-12">
        
        <div class="page-header text-center">
            <h2>{% trans "Election Center" %}</h2>
        </div>

        {% for election in elections %}
            
            <div class="alert alert-warning" role="alert">
                
                <h4><strong><a href="../status/{{election.id }}">{{ election.title }}</a></strong></h4>
                
                <ul class="list-unstyled">
                    
                    <li>{% trans "Ballot management" %}:&nbsp&nbsp<a class="alert-link" href="{{ bds_url }}{{ election.id }}/">{{ bds_url }}{{ election.id }}/</a></li>
                    <li>{% trans "ID" %}:&nbsp;&nbsp;<strong><span>{{ election.id }}</span></strong></li>
                    <li>{% trans "Start at" %}:&nbsp;&nbsp;<strong><span class="datetime-iso8601" data-format="dddd D MMMM YYYY, hh:mm a">{{ election.start_datetime|date:"c" }}</span></strong></li>
                    <li>{% trans "End at" %}:&nbsp;&nbsp;<strong><span class="datetime-iso8601" data-format="dddd D MMMM YYYY, hh:mm a">{{ election.end_datetime|date:"c" }}</span></strong></li>
                    <li>{% trans "Election results" %}:&nbsp;&nbsp;<a class="alert-link" href="{{ abb_url }}{{ election.id }}/">{{ abb_url }}{{ election.id }}/</a></li>
                    
                </ul>
                
            </div>
            
        {% endfor %}

    </div>
</div>
      
{% endblock main %}


{% block script %}

<script src="{% static 'ea/center.js' %}"></script>

{% endblock script %}

